---
title: Shawna Sullivan Writes Things
about: intro
---

<div class="<%= current_page.data.about %>">
  <div class="m-article">
    <div class="m-lead">
    </div>
    <div class="m-content-container">
      <div class="m-content">
        <div class="m-title">
          <h1>Steven Universe is Teaching Feminism to our Children and it’s a Wonderful Thing</h1>
          <h2>by Shawna Sullivan</h2>
        </div>

        <p><i>Steven Universe</i> is an adorable cartoon about a more-than-human boy named Steven who helps his three alien moms (the Crystal Gems) save the world from other aliens called Gems while also expressing a serious love of breakfast. The characters are complex with individual faults and strengths making them mash well together. Steven, the title character, and the Crewniverse are easily lovable and you&rsquo;ll quickly find yourself empathizing with the members of this quartette. Steven Universe is arguably one of the most feminist cartoon on television and conveys lessons to both children and adults. From fusion to consent to non-binary characters and the diverse Crewniverse which stray from the typical good vs. evil dichotomy, Steven&rsquo;s world is rich with feminist ideals. Below is a landmine of spoilers and feels.</p>

        <hr />

        <div class="m-links">

          <%= link_to '1. Lets Talk GEM(der)', '/editorials/steven_universe/gemder.html' %>
          <%= link_to '2. Fusion is a Choice', '/editorials/steven_universe/fusion.html' %>
          <%= link_to '3. Representation', '/editorials/steven_universe/representation.html' %>
          <%= link_to '4. Gender Roles', '/editorials/steven_universe/gender_roles.html' %>

        </div>

      </div>
    </div>
  </div>
</div>